
/*use-for-many*/
*, a, p, ul {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box !important;
}
@font-face {
    font-family: "Lato";
    src: url(../Lato-Regular.ttf);
}
body {
    font-family: "Lato";
}
a {
    color: black;
    text-decoration: none !important;
}
input {
    border: none;
}
input:focus {
    outline: none;
}
button:focus {
    outline: none;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto {
    padding: 0px;
}
.container1 {
    width: 70%;
    margin: 0 auto;
}
.container2{
    width: 80%;
    margin-left: 15%;
}


/*phone*/
.phone {
    background: #45bb0c;
    color: white;
    cursor: pointer;
    position: fixed;
    z-index: 2;
    bottom: 1%;
    left: 1%;
    padding: 7px 17px;
    border-radius: 20px;
    font-size: 14px;
}
.phone i {
    transform: rotate(-55deg);
    font-size: 16px;
}
.phone:hover {
    color: red;
}
.phone:hover i {
    transform: rotate(-30deg);
}


/*Welcome*/
.header-wel {
    background: #f5f6f8;
    color: #a1a1a3;
    font-size: 13px;
    line-height: 40px;
}
.range-wel {
    padding: 0px 18px;
}
.down-wel {
    padding-left: 18px;
}


/*Logo and search*/
.header-logo {
    padding: 18px 0px;
    border-bottom: 1px solid #ececee;
}
.between3 {
    padding-left: 20px;
}
.between3 input{
    color: #676767;
    font-size: 15px;
    width: 80%;
    padding: 10px 15px;
    border-top: 1px solid #cdcfd3;
    border-bottom: 1px solid #cdcfd3;
    border-left: 1px solid #cdcfd3;
}
.right3 {
    background: #4fc308;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid #4fc308;
    border-radius: 0px 5px 5px 0px;
}
.cart {
    font-size: 25px
}
.h-a-c {
    color: #989ca5;
    position: relative;
    padding-right: 25px;
}
.number {
    background: #4fc308;
    color: white;
    position: absolute;
    left: 24%;
    bottom: -10%;
    padding: 1px 4px;
    border-radius: 50%;
    font-size: 13px;
}
.fa-shopping-bag:hover {
    color: #45bb0c;
}
.login-only {
    background: #4fc308;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border: 1px solid #4fc308;
    border-radius: 5px;
    cursor: pointer;
}
.login-only:hover {
    background: white;
    color: #4fc308;
    
}

/*menu-mb*/
.login-mb {
    padding: 10px 15px 0px 15px;
}
.icon-mn-mb {
    color: #4fc308;
    font-size: 22px !important;
}
.mhc {
    color: #989ca5;
    font-size: 18px !important;
}
.menu-mobile {
    width: 60%;
    background: #59F902;
    padding: 15px 0px;
    position: absolute;
    top: -200%;
    right: 0%;
    transition: 0.6s;
    z-index: 2;
}
.menu-mobile ul li {
    list-style-type: none;
    padding: 10px 30px;
}
.menu-mobile ul li a {
    color: white;
}
.page-mobile {
    display: none;
}
.page-mobile ul li {
    padding: 10px 0px 0px 15px !important;
}


/*Menu*/
.menu1 {
    margin-left: -18px;
}
.menu1 ul li {
    display: inline-block;
    padding: 18px;
}
.menu1 ul li a {
    color: #b7b8bd;
    font-size: 15px;
}
.menu1 ul li:hover a {
    color: #45bb0c;
}
.hot {
    position: absolute;
    background: red;
    color: white;
    padding: 2px 8px;
    font-size: 10px;
    top: 5px;
    left: 16%;
}
.offer {
    position: absolute;
    background: #00E4FF;
    color: white;
    padding: 2px 8px;
    font-size: 10px;
    top: 5px;
    left: 57%;
}
.seller {
    color: #45bb0c;
    position: absolute;
    right: -4px;
    margin: 13px 0px;
    margin-top: 15px;
}
.seller:hover {
    background: #45bb0c;
}
.more4 {
    padding-left: 15px;
}


/*page-hover*/
.page {
    position: absolute;
    top: 60px;
    width: 20%;
    background: white;
    display: none;
    z-index: 2;
}
.page ul li {
    border-top: 1px solid #45bb0c;
    display: block;
    padding: 11px;
}
.page ul li a:hover {
    color: red;
}
.menu1 ul li:hover .page {
    display: block;
}

/* nav-bar */
.nav-bar{
    background: #f5f6f8;
    font-size: 15px;
}
.nav-bar .left{
    padding-top: 30px;
    padding-bottom: 40px;
}
.nav-bar .right{
    padding-top: 30px;
    padding-bottom: 40px;
}
.nav-bar .right ul{
    float: right;
}
.nav-bar .right ul li{
    display: inline-block;
    color: #b5b8bf;
}
.nav-bar .right a{
    color: #b5b8bf;
}
/* vegetable */
.vegetable .menu{
    padding-top: 60px;
}
/* menu1 */
.vegetable .menu .menu1{
    background: #f5f6f8;
}
.vegetable .menu .menu1 ul li{
    display: block;
    color: #b5b8bf;
}
.vegetable .menu .menu1 h5{
    padding-left: 10px;
}
.vegetable .menu .menu1 ul li a{
    padding-left: 10px;
    color: #b5b8bf;
    cursor:pointer;
    font-size: 14px;
}
.vegetable .menu .menu1 span{
    float: right;
    padding-right: 25px;
}
/* menu2 */
.vegetable .menu .menu2{
    background: #f5f6f8;
    margin-top: 30px;
    font-size: 14px;
    margin-left: -18px;
}
.vegetable .menu .menu2 ul li{
    display: block;
    color: #b5b8bf;
}
.vegetable .menu .menu2 h5{
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.vegetable .menu .menu2 ul li input{
    margin: 25px 15px;
}
.vegetable .menu .menu2 span{
    float: right;
    padding-right: 25px;
    padding-top: 20px;
    color: #b5b8bf;
}

.vegetable .menu .menu3{
    background: #f5f6f8;
    margin-top: 30px;
    margin-left: -18px;
}
.vegetable .menu .menu3 ul li{
    display: block;
    color: #b5b8bf;
   
}
.vegetable .menu .menu3 h5{
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}
.vegetable .menu .menu3 ul li input{
    margin: 25px 15px;
    width: 70%;
}
.vegetable .menu .menu3 p{
    padding-left: 15px;
    padding-bottom: 20px;
    font-size: 14px;
}
.vegetable .menu .menu3 span{
    padding-top: 20px;
    padding-left: 45px;
}
/* items  */
.item{
    background: white;
    padding-top: 60px;
}
/* search  */
input:focus {
    outline: none;
}
button:focus {
    outline: none;
}
.shea{
    margin-left: 20px;
}
.shea input{
    padding: 12px 20px;
    width: 85%;
    background: #f7f8fa;
    border: none;
}
.shea button{
    padding: 10px;
    width: 15%;
    background: #4fc308;
    color: white;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid #4fc308;
}
/* item-product  */
.items{
    margin-top: 40px;
    margin-left: 20px;
    padding-bottom: 10px;
    position: relative;
}
.p-item{
    border: 1px solid #ebebeb;
}
.items img{
    width: 70%;
    padding-top: 20px;
    padding-left: 20px;
}
.pd1 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.bg {
    background: white;
    padding-left: 20px;
}
.p2 {
    color: #4d5466;
    font-weight: bold;
    font-size: 22px;
}
.p3 {
    color: #b6b7bc;
    font-size: 12px;
    margin: 5px 0px;
}
.p4 {
    color: #4d5466;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 30px;
}
.heart {
    color: #5f6772;
    position: absolute;
    cursor: pointer;
    top: 8%;
    right: 12%;
}
.atc1 {
    background: #4ec207;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 0%;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
}
.plus {
    background: white;
    color: #878787;
    border-radius: 50%;
    font-size: 12px;
    padding: 1px 7.500px;
    margin-left: 9px;
}

/*footer1*/
.footer1 {
    background: #2a2b30;
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom: 2px solid #333439;
}
.p5 {
    color: white;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-right: 5px;
    font-size: 15px;
}
.p6 {
    color: #7c848f;
    font-size: 13px;
    padding-top: 14px;
}
.mxh i {
    color: #7c848f;
    padding-top: 15px;
    padding-right: 30px;
}
.mxh i:hover {
    color: #4fc308;
    font-size: 18px;
}
.img-ft1 img {
    width: 100%;
    padding: 3px;
}


/*footer2*/	
.footer2 {
    background: #2a2b30;
    padding: 12px 0px;
}
.p8 {
    color: #7c848f;
    font-size: 14px;
    padding-top: 4px;
}
.up {
    background: #314d27;
    color: #4cad0e;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 50%;
}
.logo-ft img {
    padding-left: 20px;
}


@media screen and (max-width: 1400px) {
.btn-right {
    display: none;
}
}


@media screen and (max-width: 992px) {
.container {
    width: 83.33%;
}
.p1 {
    margin: 0px;
}
.a2 {
    display: none;
}
.pd1 {
    padding-top: 20px;
    padding-bottom: 0px;
}
.pd2 {
    padding: 10px;
}
.item6 {
    margin-left: 0px;
}
.comment {
    padding-left: 20px;
    padding-right: 40px;
}
.blog {
    padding: 20px;
}
.item7 {
    margin-right: 0px;
    padding: 0px 10px;
}
.b2 {
    top: 60%;
}
.footer1 {
    padding: 5px;
}
.p6 {
    padding-top: 5px;
}
}


@media screen and (max-width: 576px) {
* {
    font-size: 12px !important;
}
.container {
    width: 100%;
}
.header-logo {
    padding: 10px;
}
.between3 input {
    border-left: 1px solid #cdcfd3;
    border-radius: 5px 0px 0px 5px;
}
.banner2 img {
    margin: 0px;
}
.item7 {
    margin-right: 0px;
    padding: 0px 5px;
}
.atc1 {
    font-size: 8px !important;
}
}
